@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

/* Definindo a fonte e resetando margens e padding para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
}

:root {
  --fundo-escuro: #0A0716;
  --cor-destaque: #0091B4;
  --fundo-claro: #e9e9e9;
  --cor-botao: #5df8fc;
  --cor-botao-hover: #0091B4;
  --cor-cabecalho-tabela: #662d91;
}


/* Estilo da barra de acessibilidade */
.acessibilidades {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fundo-escuro); 
  font-size: initial;
}

.acessibilidades button {
  margin: 1em;
  cursor: pointer; 
  transition: color 0.3s ease, transform 0.3s ease; 
}

.acessibilidades button:hover {
  color: var(--cor-destaque);
}

/* Estilo para aumentar/diminuir a fonte */
#increaseFontSize, #decreaseFontSize, #normalFontSize {
  font-size: 0.8em;
  font-weight: bold;
  background: var(--cor-botao);
  border: none;
  color: black;
  display: block;
  border-radius: 5px;
  padding: 0.7em;
  cursor: pointer;
  transition: 0.3s;
}

#increaseFontSize:hover,
#decreaseFontSize:hover,
#normalFontSize:hover {
  background-color: #0091B4; 
}

/* Container principal */
.container-geral {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fundo-claro);
}

button {
  cursor: pointer;
}

/* Modo escuro: alterando a cor de fundo e o estilo de texto */
body.dark-mode {
  background-color: var(--fundo-escuro);
}

body.dark-mode .container-geral {
  background-color: var(--fundo-escuro);
}

body.dark-mode .container {
  background-color: #111111;
  color: white;
}

body.dark-mode table {
  color: white;
}

body.dark-mode .modal {
  background-color: black;
  color: white;
}

body.dark-mode .modal input {
  background: none;
  color: white;
}

body.dark-mode .header span {
  color: white;
}

body.dark-mode #new {
  background: var(--cor-botao);
  color: black;
}

body.dark-mode td button i {
  color: white;
}

body.dark-mode .acao button:hover .icon-edit {
  color: gray;
}

body.dark-mode .acao button:hover .icon-trash {
  color: red;
}

body.dark-mode .material-symbols-outlined {
  color: white;
}

/* Estilo do container da página */
.container {
  min-width: 40vw;
  min-height: 30vh;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Cabeçalho dentro do container */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header span {
  font-weight: 600;
  font-size: 2em;
  word-break: break-all;
}

/* Estilo do botão de "novo" */
#new {
  font-size: 0.9em;
  font-weight: bold;
  background: var(--cor-botao);
  border: none;
  color: black;
  display: block;
  border-radius: 5px;
  padding: 1em;
  cursor: pointer;
  transition: 0.3s;
}

/* Efeito de hover no botão de "novo" */
#new:hover {
  background: var(--cor-destaque);
}

/* Estilo para a tabela */
table {
  width: 100%;
  border-spacing: 10px;
  border-collapse: collapse;
}

/* Estilo do cabeçalho da tabela */
thead {
  background-color: var(--cor-cabecalho-tabela);
  color: white;
}

tbody tr {
  border-bottom: 1px solid rgb(238, 235, 235)!important;
}

tbody tr td {
  vertical-align: text-top;
  padding: 6px;
  max-width: 50px;
}

thead tr th {
  padding: 5px;
  text-align: start;
  margin-bottom: 50px;
}

tbody tr {
  margin-bottom: 50px;
}

thead tr th.acao {
  width: 100px!important;
  text-align: center;
}

tbody tr td.acao {
  text-align: center;
}

/* Estilo do modal */
.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: none; 
  z-index: 999;
  align-items: center;
  justify-content: center;
}

/* Estilo do conteúdo do modal */
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  width: fit-content;
}

.modal label {
  font-size: 1.2em;
}

.modal input {
  width: 100%;
  outline: none;
  padding: 5px 10px; 
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 1em;
}

/* Estilo para o botão dentro do modal */
.modal button {
  font-weight: bold;
  font-size: 0.8em;
  background: var(--cor-botao);
  border: none;
  color: black;
  width: 100%;
  border-radius: 5px;
  padding: 1em;
  cursor: pointer;
  transition: 0.3s;
}

/* Efeito de hover no botão do modal */
.modal button:hover {
  background-color: var(--cor-destaque);
}

/* Exibição ativa do modal */
.active {
  display: flex;
}

/* Animação do modal ao ser exibido */
.active .modal {
  animation: modal .5s; /* Animação de entrada do modal */
}

/* Animação de entrada do modal */
@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0); 
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Estilo do botão dentro da tabela, incluindo ícones */
td button {
  border: none;
  outline: none;
  background: transparent;
}

td button i {
  font-size: 22px;
  transition: color 0.3s; 
}

td button i:first-child {
  margin-right: 10px;
}

/* Estilo para os ícones de ação ao passar o mouse */
.acao button:hover .icon-edit {
  color: gray; 
}

.acao button:hover .icon-trash {
  color: red; 
}

/* Estilo para telas menores (responsivo) */
@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
  .header span {
    font-size: 1.5em;
}


  .container {
    width: 90vw;
  }
  
  .header span {
    font-size: 1.5em;
  }

  #new {
    padding: 5px;
    font-size: 10px;
  }

  thead tr th.acao {
    width: auto!important;
  }
  
  td button i {
    font-size: 15px!important;
  }

  td button i:first-child {
    margin-right: 0;
  }

  .modal {
    width: 90%!important;
  }

  .modal label {
    font-size: 12px!important;
  }
}
