@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0A0716;
}


button {
  cursor: pointer;
}

.container {
  width: 60%;
  min-height: 30vh;
  border-radius: 10px;
  background: white;
  border: 1px solid #cccccc;

}

.header {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1em;
}

.header span {
  font-weight: 900;
  font-size: 2em;
  word-break: break-all;
}

#new {
  font-size: 0.9em;
  background: #5df8fc;
  border: none;
  color: black;
  display: block;
  border-radius: 5px;
  padding: 1em;
  cursor: pointer;
  transition: 0.3s;
}

#new:hover {
  background: #0091B4;
}

.divTable {
  padding: 1em;
  width: auto; 
  overflow:auto;
}

.divTable::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke; 
}

.divTable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgray; 
}

table {
  width: 100%;
  border-spacing: 10px;
  border-collapse: collapse;
}

thead {
  background-color: #0091B4;
  color: white;
}

tr {
  border-bottom: 1px solid rgb(238, 235, 235)!important;
}

tbody tr td {
  vertical-align: text-top;
  padding: 6px;
  max-width: 50px;
}

thead tr th {
  padding: 5px;
  text-align: start;
  margin-bottom: 50px;
}

tbody tr {
  margin-bottom: 50px;
}

thead tr th.acao {
  width: 100px!important;
  text-align: center;
}

tbody tr td.acao {
  text-align: center;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  width: 25%;
}

.modal label {
  font-size: 20px;
  width: 100%;
  margin-top: 40;
}

.modal input {
  width: 100%;
  outline: none;
  padding: 5px 10px; 
  width: 100%;
  margin-bottom: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.modal button {
  font-weight: bold;
  font-size: 0.8em;
  background: #5df8fc;
  border: none;
  color: black;
  width: 100%;
  border-radius: 5px;
  padding: 1em;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s;
}

.modal button:hover {
  background-color: #0091B4;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal .5s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

td button {
  border: none;
  outline: none;
  background: transparent;
}

td button i {
  font-size: 25px;
  transition: color 0.3s; 
}

td button i:first-child {
  margin-right: 10px;
}

.acao button:hover .bx-edit {
  color: gray; 
}

.acao button:hover .bx-trash {
  color: red; 
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
  
  .header span {
    font-size: 15px;
  }

  #new {
    padding: 5px;
    font-size: 10px;
  }

  thead tr th.acao {
    width: auto!important;
  }
  
  td button i {
    font-size: 15px!important;
  }

  td button i:first-child {
    margin-right: 0;
  }

  .modal {
    width: 90%!important;
  }

  .modal label {
    font-size: 12px!important;
  }
}


