@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.acessibilidades {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0A0716;
  font-size: initial;
}

.acessibilidades button {
  margin: 1em;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.acessibilidades button:hover {
  color: #0091B4;
}

#increaseFontSize,
#decreaseFontSize,
#normalFontSize {
  font-size: 0.8em;
  font-weight: bold;
  background: #5df8fc;
  border: none;
  color: black;
  display: block;
  border-radius: 5px;
  padding: 0.7em;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover para os dois botões de aumentar e diminuir o tamanho da fonte */
#increaseFontSize:hover,
#decreaseFontSize:hover,
#normalFontSize:hover {
  background-color: #0091B4;
}



.container-geral {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9e9e9;
}

button {
  cursor: pointer;
}

/* Modo escuro */
body.dark-mode {
  background-color: #0A0716;
}

body.dark-mode .container-geral {
  background-color: #0A0716;
}

body.dark-mode .container {
  background-color: #111111;
  color: white;
}

body.dark-mode table {
  color: white;
}

body.dark-mode .modal {
  background-color: black;
  color: white;
}

body.dark-mode .modal input {
  background: none;
  color: white;
}

body.dark-mode .header span {
  color: white;
}

body.dark-mode #new {
  background: #5df8fc;
  color: black;
}

body.dark-mode td button i {
  color: white;
}

body.dark-mode .acao button:hover .icon-edit {
  color: gray;
}

body.dark-mode .acao button:hover .icon-trash {
  color: red;
}

/* Ajuste de ícones no modo escuro */
body.dark-mode .material-symbols-outlined {
  color: white;
}

.container {
  min-width: 40vw;
  min-height: 30vh;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header span {
  font-weight: 600;
  font-size: 2em;
  word-break: break-all;
}

#new {
  font-size: 0.9em;
  font-weight: bold;
  background: #5df8fc;
  border: none;
  color: black;
  display: block;
  border-radius: 5px;
  padding: 1em;
  cursor: pointer;
  transition: 0.3s;
}

#new:hover {
  background: #0091B4;
}

table {
  width: 100%;
  border-spacing: 10px;
  border-collapse: collapse;
}

thead {
  background-color: #662d91;
  color: white;
}


tbody tr {
  border-bottom: 1px solid rgb(238, 235, 235)!important;
}

tbody tr td {
  vertical-align: text-top;
  padding: 6px;
  max-width: 50px;
}

thead tr th {
  padding: 5px;
  text-align: start;
  margin-bottom: 50px;
}

tbody tr {
  margin-bottom: 50px;
}

thead tr th.acao {
  width: 100px!important;
  text-align: center;
}

tbody tr td.acao {
  text-align: center;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  width: fit-content;
}

.modal label {
  font-size: 20px;
}

.modal input {
  width: 100%;
  outline: none;
  padding: 5px 10px; 
  border-top: none;
  border-left: none;
  border-right: none;
}

.btnAlternar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}

.modal button {
  font-weight: bold;
  font-size: 0.8em;
  background: #5df8fc;
  border: none;
  color: black;
  width: 100%;
  border-radius: 5px;
  padding: 1em;
  cursor: pointer;
  transition: 0.3s;
}

.modal button:hover {
  background-color: #0091B4;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal .5s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

td button {
  border: none;
  outline: none;
  background: transparent;
}

td button i {
  font-size: 22px;
  transition: color 0.3s; 
}

td button i:first-child {
  margin-right: 10px;
}

.acao button:hover .icon-edit {
  color: gray; 
}

.acao button:hover .icon-trash {
  color: red; 
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }

  .container {
    width: 90vw;
    box-shadow: 3px 3px #662d91;
  }
  
  .header span {
    font-size: 1.5em;
  }

  #new {
    padding: 5px;
    font-size: 10px;
  }

  thead tr th.acao {
    width: auto!important;
  }
  
  td button i {
    font-size: 15px!important;
  }

  td button i:first-child {
    margin-right: 0;
  }

  .modal {
    width: 90%!important;
  }

  .modal label {
    font-size: 12px!important;
  }
}
